* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#box_model {
    width: 450px;
    margin: 50px auto;
    padding: 0 0 1rem 1rem;
    background-color: darkgreen;
    border: 10px solid greenyellow;
    border-radius: 30px 0 30px 0;
    outline: 10px solid red;
}

.text {
    color: azure;
    margin-top: 1rem;
}

.border_down {
    font-weight: bold;
    margin: 3px;
    padding: 5px;
    border-radius: 25%;
    border: 3px solid white;
}